In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
data = pd.read_csv('data_music/Spotify_final_dataset.csv', index_col = 'Position')
data.head()

,Artist Name,Song Name,Days,Top 10 (xTimes),Peak Position,Peak Position (xTimes),Peak Streams,Total Streams
Position,,,,,,,,
1,Post Malone,Sunflower SpiderMan: Into the SpiderVerse,1506,302.0,1,(x29),2118242,883369738
2,Juice WRLD,Lucid Dreams,1673,178.0,1,(x20),2127668,864832399
3,Lil Uzi Vert,XO TOUR Llif3,1853,212.0,1,(x4),1660502,781153024
4,J. Cole,No Role Modelz,2547,6.0,7,0,659366,734857487
5,Post Malone,rockstar,1223,186.0,1,(x124),2905678,718865961

In [15]:
data.columns

Index(['Artist Name', 'Song Name', 'Days', 'Top 10 (xTimes)', 'Peak Position',
       'Peak Position (xTimes)', 'Peak Streams', 'Total Streams'],
      dtype='object')

In [16]:
data['Artist Name'].value_counts()

Artist Name
Drake              208
Future             190
Taylor Swift       172
Logic              120
Trippie Redd       114
                  ...
HRVY                 1
Lean Trap            1
Travie McCoy         1
Nate Ruess           1
The Band Perry       1
Name: count, Length: 1612, dtype: int64

In [21]:
df = data.groupby('Artist Name')['Total Streams'].sum()
df.sort_values('Total Streams', ascending=False)

TypeError: Series.sort_values() takes 1 positional argument but 2 positional arguments (and 1 keyword-only argument) were given